@font-face {
    font-family: JetBrainsMono;
    src: url('/fonts/JetBrainsMono-Regular.ttf');
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 10;
    -fx-border-color: #031c45;
}

.label, .text-field {
    -fx-background-color: #adc9e2;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-alignment: center;
    -fx-font-size: 14;
    -fx-font-family: JetBrainsMono;
}

#state {
    -fx-background-color: #66b4ef;
}