.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 10;
    -fx-border-color: #031c45;
}

.label, .text-field, .button {
    -fx-background-color: #adc9e2;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-pref-width: 100;
    -fx-pref-height: 50;
    -fx-alignment: center;
    -fx-font-size: 14;
}

#state {
    -fx-background-color: #4d84e3;
}