@font-face {
    font-family: JetBrainsMono;
    src: url('fonts/JetBrainsMono-Regular.ttf');
}

.button{
    -fx-background-color: #031c45;
    -fx-text-fill: white;
}

.label{
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-font-family: "Roboto Condensed";
}

.text-field, .text-area, #taOutput {
    -fx-background-color: white;
    -fx-border-width: 2;
    -fx-border-color: #031c45;
}

#taOutput {
    -fx-text-alignment: center;
    -fx-font-size: 22;
}

#mainPane{
    -fx-background-color: #4d84e3;
    -fx-font-size: 15;
    -fx-border-width: 10;
    -fx-border-color: #031c45;
}

#mainTitulo{
    -fx-text-fill: black;
    -fx-font-size: 40;
    -fx-font-family: "Roboto Condensed";
}

#creditos{
    -fx-font-size: 15;
    -fx-font-style: italic;
}
