.button{
    -fx-background-color: #031c45;
    -fx-text-fill: white;
}

.label{
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-font-family: "Roboto Condensed";
}

.text-area{
    -fx-border-width: 0;
    -fx-border-color: #031c45;
}

.text-field{
    -fx-background-color: white;
    -fx-border-width: 2;
    -fx-border-color: #031c45;
}

#taOutput{
    -fx-border-width: 0;
}

#mainPane{
    -fx-background-color: #4d84e3;
    -fx-font-size: 15;
    -fx-border-width: 10;
    -fx-border-color: #031c45;
}

#mainTitulo{
    -fx-text-fill: black;
    -fx-font-size: 40;
    -fx-font-family: "Roboto Condensed";
}

#creditos{
    -fx-font-size: 15;
    -fx-font-style: italic;
}

.scroll-pane{
    -fx-border-width: 0;
    -fx-border-color: #031c45;
}

#scOutput{
    -fx-border-width: 3;
    -fx-border-color: #031c45;
}

#taInput {
    -fx-text-alignment: center;
    -fx-font-size: 12;
    -fx-border-width: 3;
    -fx-border-color: #031c45;
}