.button{
    -fx-background-color: #031c45;
    -fx-text-fill: white;
}

#mainPane{
    -fx-background-color: #4d84e3;
    -fx-font-size: 15;
    -fx-border-width: 10;
    -fx-border-color: #031c45;
}

#mainTitulo{
    -fx-text-fill: black;
    -fx-font-size: 40;
    -fx-font-family: "Roboto Condensed";
}

.label{
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-font-family: "Roboto Condensed";
}

.text-field, .text-area{
    -fx-border-width: 2;
    -fx-border-color: #031c45;
}

#creditos{
    -fx-font-size: 15;
    -fx-font-style: italic;
}

.scroll-pane{
    -fx-background-color: #4d84e3;
}
